.boxed{
  border: 5px solid purple;
}
.right{
  float: right;
  border: 2px solid blue;
  background:rebeccapurple;
  color: black;
  border-radius: 40px;
  height: 50px;
  outline: none;

}
button a{
  color:blueviolet !important;
}
.left{
  text-align: left;
}
.btnn{
  border:100px;
  color:green;
  text-align:center;
  margin:10px 5px;
}
*{
  font-family: 'Sansita Swashed', cursive;
}
body {

  background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/14A35/production/_115033548_gettyimages-1226314512.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
 background-size: 100% 100%;
}


.box{
  border: 5px solid black;
  border-radius: 40px;
  background-color: white;
  opacity: 0.8;
}

h1{
  text-shadow: 0 0 30px white,
               0 0 40px white;
}

area{
  outline: none !important;
}

img{
  border-radius: 50px;
  box-shadow: 0 0 40px black,
              0 0 50px blue;

}
